{% load static %}

<!doctype html>
<html lang="en">
	<head>
		<title>Statusku!</title>
	</head>
	<body>
		<h1> Halo, apa kabar? </h1>
		<form action="{% url 'status:index' %}" method="POST">
    		{% csrf_token %}
    		{{form.as_p}}
    		<button class="btn btn-success btn-lg mt-4" type="submit" value="Submit" id="postbutton">Post</button>
  		</form> 

  		{% for i in hasil %}

  		<h3> {{i.isi}} </h3>
  		<p> {{i.date}} </p>

  		{% endfor %}

	</body>
</html>